input[type=text],
input[type=number],
input[type=password],
input[type=email] {
  padding: 1em;
  border: 0;
  border: 1px solid #f0f0f0;
  font-family: $base-font-family;
}

input[type=submit] {
  padding: 1em;
  color: white;
  background-color: #2BDE73;
  border: 0;
  border-radius: 3px;
  font-family: $base-font-family;

  &:hover {
    color: #353535;
  }
}

textarea {
  width: 100%;
  padding: 1em;
  border: 0;
  border: 1px solid #f0f0f0;
  font-family: $base-font-family;
}
