input[type=text],
input[type=password],
input[type=email] {
  padding: 0.25em 0.5em;
  border: 1px solid #f0f0f0;
}

input[type=submit] {
  padding: 1em;
  color: white;
  background-color: #2BDE73;
  border: 0;
  font-family: $header-font-family;

  &:hover {
    color: #353535;
  }
}
