// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project {
  text-align: center;
  margin: 1.5rem 0;
  padding: 1rem;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}

.project-image > img {
  margin: auto;
}

.project-link {
  display: block;
  text-decoration: none;
  color: #353535;
}

.project-title {
  margin-bottom: 0;
}

.project-days-left {
  font-size: 0.75em;
}

.project-description {
  width: 66%;
  float: left;
  padding-right: 1em;
}

.project-details {
  width: 33%;
  float: right;
  padding-bottom: 2em;
}

.pledge-box {
  clear: both;
  width: 100%;
  font-size: 1.5em;
}

.project-days-left {
  font-size: 1em;
}
